<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myStar</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="js/three.js"></script>
    <script src="js/OrbitControls.js"></script>
    <script src="js/DeviceOrientationControls.js"></script>
    <script src="js/FirstPersonControls.js"></script>
    <script src="js/FZLanTingHeiS-UL-GB_Regular.js"></script>

    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/data.js"></script>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body onload="init()">
<!--<div>
    <ul id="ul">
        <li><img src="img/index/2.jpg" alt=""></li>
        <li><img src="img/index/2.jpg" alt=""></li>
        <li>
            <div id="controlBtn" class="controlBtn"></div>
            <canvas id="main"></canvas>
        </li>
    </ul>
</div>-->

<div class="main" ng-app="myApp" ng-controller="myCtrl">
    <div class="universe">
        <div id="controlBtn" class="controlBtn"></div>
        <div class="searchResult">
            <ul class="searchBar">
                <li value="1">
                    <img src="img/star/0.png" alt="">
                    <span>太阳</span>
                </li>
                <li value="2">
                    <img src="img/star/1.png" alt="">
                    <span>水星</span>
                </li>
                <li value="3">
                    <img src="img/star/2.png" alt="">
                    <span>金星</span>
                </li>
                <li value="4">
                    <img src="img/star/3.png" alt="">
                    <span>地球</span>
                </li>
                <li value="5">
                    <img src="img/star/4.png" alt="">
                    <span>火星</span>
                </li>
                <li value="6">
                    <img src="img/star/5.png" alt="">
                    <span>木星</span>
                </li>
                <li value="7">
                    <img src="img/star/6.png" alt="">
                    <span>土星</span>
                </li>
                <li value="8">
                    <img src="img/star/7.png" alt="">
                    <span>天王星</span>
                </li>
                <li value="9">
                    <img src="img/star/8.png" alt="">
                    <span>海王星</span>
                </li>
            </ul>
        </div>
        <canvas id="main" bn-document-click="handleClick( $event )"></canvas>
    </div>
    <div class="cover">
        <div class="coverWrapper">
            <div class="header">
                <i class="close"></i>
                <p class="title">
                    {{starInfo.title}}
                    <span class="title2" style="display: none;;">- 基本资料</span>
                    <span class="title3" style="display: none;">- 事实与特征</span>
                </p>
            </div>
            <div class="wrapper">
                <ul class="sidebar">
                    <li value="1"><i class="first active"></i></li>
                    <li value="2"><i class="second"></i></li>
                    <li value="3"><i class="third"></i></li>
                    <li value="4"><i class="forth"></i></li>
                </ul>
                <div class="content">
                    <div class="content1" style="display: block">
                        <div class="contentWrapper">
                            <div class="tempWrapper">
                                <div class="starImg">
                                    <img src={{starInfo.content1.img}} alt="">
                                </div>
                            </div>
                            <div class="desText">
                                <p class="title">{{starInfo.content1.name}}</p>
                                <p>英文名：{{starInfo.content1.english}}</p>
                                <p>特点：{{starInfo.content1.feature}}</p>
                                <p>外观：{{starInfo.content1.appearance}}</p>
                                <p>卫星小伙伴：{{starInfo.content1.partner}}</p>
                                <p>探索：{{starInfo.content1.explore}}</p>
                                <p>一句话描述：{{starInfo.content1.des}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="content2">
                        <p ng-repeat="content in starInfo.content2">{{content}}</p>
                    </div>
                    <div class="content3">
                        <div class="table">
                            <p class="line" ng-repeat="(key,item) in starInfo.content3">
                                <span class="one">{{key}}</span>
                                <span>{{item}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="content4">
                        <!--<canvas id="starConstruct"></canvas>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".sidebar>li").click(function(){
        $(this).children("i").addClass("active");
        $(this).siblings("li").children("i").removeClass("active");
        $(".content"+$(this).val()).attr('style','display: block;').siblings("div").removeAttr("style");
        if($(this).val()==2){
            $(".title2").siblings("span").attr('style','display: none;');
            $(".title2").attr('style','display: inline;');
        }
        else if($(this).val()==3){
            $(".title3").siblings("span").attr('style','display: none;');
            $(".title3").attr('style','display: inline;');
        }
        else{
            $(".title2").attr('style','display: none;');
            $(".title3").attr('style','display: none;');
        }
    });
    $('.close').click(function (e) {
        e.preventDefault();
        document.querySelector(".cover").style.display="none";
        $(".sidebar>li:eq(0)").children("i").addClass('active');
        $(".sidebar>li:eq(0)").siblings().children("i").removeClass("active");
        $('.content1').attr('style','display: block;');
        $('.content1').siblings('div').removeAttr("style");
        document.querySelector(".controlBtn").style.display="block";
        document.querySelector(".searchResult").style.display="block";
        if(tempIndex){
            stars.splice(tempIndex,0,tempStars);
            tempIndex=undefined;
        }
    });

    /*var canvas2=document.getElementById('starConstruct');
    var content4=document.querySelector(".content4");
    /!*canvas2.style.width=content4.clientWidth;
    canvas2.style.height=content4.clientHeight;*!/
    var width2=canvas2.clientWidth;
    var height2=canvas2.clientHeight;

    var camera2, scene2, renderer2;
    var group2;

    init2();
    animate2();

    function init2() {
        camera2 = new THREE.PerspectiveCamera( 40, width2 / height2, 1, 800 );
        camera2.position.set( -20, 10, 50 );
        camera2.lookAt( new THREE.Vector3( 0, 0, 0) );
        scene2 = new THREE.Scene();
        // Lights
        var light2 = new THREE.AmbientLight( 0x999999 );
        scene2.add( light2 );
        var clipPlanes2 = [
            new THREE.Plane( new THREE.Vector3( 1,  0,  0 ), 0 ),
            new THREE.Plane( new THREE.Vector3( 0, -1,  0 ), 0 ),
            new THREE.Plane( new THREE.Vector3( 0,  0, -1 ), 0 )
        ];
        group2 = new THREE.Object3D();
        for ( var i = 1; i < 3; i ++ ) {
            var geometry2 = new THREE.SphereBufferGeometry( i / 2, 48, 48 );
            var material2 = new THREE.MeshStandardMaterial( {
                color: new THREE.Color( Math.sin( i * 0.5 ) * 0.5 + 0.5, Math.cos( i * 1.5 ) * 0.5 + 0.5, Math.sin( i * 4.5 + 0 ) * 0.5 + 0.5 ),
                roughness: 0.95,
                metalness: 0.0,
                side: THREE.DoubleSide,
                clippingPlanes: clipPlanes2,
                clipIntersection: true
            } );
            group2.add( new THREE.Mesh( geometry2, material2 ) );
        }
        scene2.add( group2 );
        // Renderer
        renderer2 = new THREE.WebGLRenderer({canvas: canvas2});
        renderer2.antialias = true;
        renderer2.setPixelRatio( window.devicePixelRatio );
        renderer2.setSize( width2, height2 );
        renderer2.setClearColor( 0x222222 );
        renderer2.localClippingEnabled = true;
        window.addEventListener( 'resize', onWindowResize2, false );
        // GUI
        mode = {};
        mode.clipIntersection = true;
        mode.clipPosition = 0;
        // Controls
        var controls2 = new THREE.OrbitControls( camera2, renderer2.domElement );
        controls2.target.set( 0, 1, 0 );
        controls2.update();
    }

    function onWindowResize2() {
        camera2.aspect = width2 / height2;
        camera2.updateProjectionMatrix();
        renderer2.setSize( width2, height2 );
    }

    function animate2() {
        requestAnimationFrame( animate2 );
        var children = group2.children;
        for ( var i = 0; i < children.length; i ++ ) {
            var current = children[ i ].material;
            for ( var j = 0; j < current.clippingPlanes.length; j ++ ) {
                var plane = current.clippingPlanes[ j ];
                plane.constant = ( 49 * plane.constant + mode.clipPosition ) / 50;
            }
        }
        renderer2.render( scene2, camera2 );
    }*/
</script>

<!--<script>
    var height = document.body.clientHeight;
    var Y = 0;
    var ul = document.getElementById('ul');
    var lis = ul.getElementsByTagName('li').length;
    window.onload = function () {
        var firstY,lastY = null;
        var flag = false;
        var UlTop = 0;
        function Down() {
            Y&#45;&#45;;
            var Top = Y * height;
            if(Top <= -(lis*height)){
                Y = -(lis-1);
                return
            }
            UlTop = Top;
            ul.style.webkitTransform = 'translate(0px,'+ Top +'px)';
        }
        function Up() {
            Y++;
            var Top = Y *height;
            if(Top > 0){
                Y = 0;
                return
            }
            UlTop = Top;
            ul.style.webkitTransform = 'translate(0px,'+ Top +'px)';
        }
        document.addEventListener('touchstart',function (e) {
            flag = true;
            firstY = e.touches[0].clientY;
        });
        document.addEventListener('touchmove',function (e) {
            if(flag){
                lastY = e.touches[0].clientY;
                var Top = firstY - lastY;
                if(Top > 0){
                    if(UlTop <= -(lis-1)*height){
                        return
                    }
                }else {
                    if(UlTop >= 0){
                        return
                    }
                }
                ul.style.webkitTransform = 'translate(0px,'+ (UlTop-Top) +'px)';
            }
        });
        document.addEventListener('touchend',function (e) {
            lastY = e.changedTouches[0].clientY;
            if(flag){
                move(firstY,lastY);
            }
        });
        function move(firstY,lastY) {
            if(firstY - lastY > 0){
                Down();
            }else {
                Up();
            }
        }
}
</script>-->

<script src="js/test.js"></script>
<!--<script src="js/star.js"></script>-->
</body>
</html>