<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>myStar</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<script src="js/three.js"></script>
	<script src="js/OrbitControls.js"></script>
	<script src="js/DeviceOrientationControls.js"></script>
	<script src="js/FirstPersonControls.js"></script>
	<script src="js/FZLanTingHeiS-UL-GB_Regular.js"></script>

	<script src="js/jquery-3.1.1.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/data.js"></script>

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body onload="init()">
	<!--<div>
		<ul id="ul">
			<li><img src="img/index/2.jpg" alt=""></li>
			<li><img src="img/index/2.jpg" alt=""></li>
			<li>
				<div id="controlBtn" class="controlBtn"></div>
				<canvas id="main"></canvas>
			</li>
		</ul>
	</div>-->

	<div class="main" ng-app="myApp" ng-controller="myCtrl">
		<div class="universe">
			<div id="controlBtn" class="controlBtn"></div>
			<canvas id="main" bn-document-click="handleClick( $event )"></canvas>
		</div>
		<input id="tempFlag" type="hidden" ng-model="flag">
		<div class="header">
			<div class="headerWrapper">
				<i class="close"></i>
				<p class="title">
					{{starInfo.title}}
					<span class="title2" style="display: none;;">- 基本资料</span>
					<span class="title3" style="display: none;">- 事实与特征</span>
				</p>
			</div>
		</div>
		<ul class="sidebar">
			<li value="1"><i class="first active"></i></li>
			<li value="2"><i class="second"></i></li>
			<li value="3"><i class="third"></i></li>
			<li value="4"><i class="forth"></i></li>
		</ul>
		<div class="content">
			<div class="tempWrapper">
				<div class="pull">
					<i class="pullLogo"></i>
				</div>
				<div class="content1" style="display: block">
					<div class="contentWrapper">
						<div class="tempWrapper">
							<div class="starImg"></div>
							<div class="middle">
								<p class="title">{{starInfo.content1.name}}</p>
								<p class="english">{{starInfo.content1.english}}</p>
							</div>
							<p class="des">{{starInfo.content1.des}}</p>
						</div>
					</div>
				</div>
				<div class="content2">
					<p ng-repeat="content in starInfo.content2">{{content}}</p>
				</div>
				<div class="content3">
					<div class="table">
						<p class="line" ng-repeat="(key,item) in starInfo.content3">
							<span class="one">{{key}}</span>
							<span>{{item}}</span>
						</p>
					</div>
				</div>
				<div class="content4">inner</div>
			</div>
		</div>
	</div>

	<script>
		$(".sidebar>li").click(function(){
			$(this).children("i").addClass("active");
			$(this).siblings("li").children("i").removeClass("active");
			$(".content"+$(this).val()).attr('style','display: block;').siblings("div").removeAttr("style");
			if($(this).val()==2){
				$(".title2").siblings("span").attr('style','display: none;');
				$(".title2").attr('style','display: inline;');
			}
			else if($(this).val()==3){
				$(".title3").siblings("span").attr('style','display: none;');
				$(".title3").attr('style','display: inline;');
			}
			else{
				$(".title2").attr('style','display: none;');
				$(".title3").attr('style','display: none;');
			}
		});
		$('.close').click(function (e) {
			e.preventDefault();
			var dis3=$('.sidebar').width();
			$(".content").animate({left:dis3});
			document.querySelector(".header").style.display="none";
			document.querySelector(".sidebar").style.display="none";
			document.querySelector(".content").style.display="none";
			$(".sidebar>li:eq(0)").children("i").addClass('active');
			$(".sidebar>li:eq(0)").siblings().children("i").removeClass("active");
			$('.content1').attr('style','display: block;');
			$('.content1').siblings('div').removeAttr("style");
			document.querySelector(".controlBtn").style.display="block";
			stars.splice(tempIndex,0,tempStars);
			camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 100000);
			camera.position.set(-200, 50, 0);
			camera.lookAt(new THREE.Vector3(0, 0, 0));
		});
		$('.pullLogo').click(function () {
			var dis1=$('.content').width();
			var dis2=$('.pullLogo').width();
			var dis3=$('.sidebar').width();
			var oldDis=(dis1-dis2);
			var newDis1=oldDis.toFixed(3);
			var newDis2=oldDis.toFixed(3)+'px';
			var m=$(".content").css("left");
			if(newDis2 == m){
				$(".content").animate({left:dis3});
			}
			else{
				$(".content").animate({left:newDis1});
			}
		});
	</script>
	
    <!--<script>
        var height = document.body.clientHeight;
        var Y = 0;
        var ul = document.getElementById('ul');
        var lis = ul.getElementsByTagName('li').length;
        window.onload = function () {
            var firstY,lastY = null;
            var flag = false;
            var UlTop = 0;
            function Down() {
                Y&#45;&#45;;
                var Top = Y * height;
                if(Top <= -(lis*height)){
                    Y = -(lis-1);
                    return
                }
                UlTop = Top;
                ul.style.webkitTransform = 'translate(0px,'+ Top +'px)';
            }
            function Up() {
                Y++;
                var Top = Y *height;
                if(Top > 0){
                    Y = 0;
                    return
                }
                UlTop = Top;
                ul.style.webkitTransform = 'translate(0px,'+ Top +'px)';
            }
            document.addEventListener('touchstart',function (e) {
                flag = true;
                firstY = e.touches[0].clientY;
            });
            document.addEventListener('touchmove',function (e) {
                if(flag){
                    lastY = e.touches[0].clientY;
                    var Top = firstY - lastY;
                    if(Top > 0){
                        if(UlTop <= -(lis-1)*height){
                            return
                        }
                    }else {
                        if(UlTop >= 0){
                            return
                        }
                    }
                    ul.style.webkitTransform = 'translate(0px,'+ (UlTop-Top) +'px)';
                }
            });
            document.addEventListener('touchend',function (e) {
                lastY = e.changedTouches[0].clientY;
                if(flag){
                    move(firstY,lastY);
                }
            });
            function move(firstY,lastY) {
                if(firstY - lastY > 0){
                    Down();
                }else {
                    Up();
                }
            }
    }
    </script>-->

    <script src="js/test.js"></script>
</body>
</html>